name: Push Image

#on: [push]
on:
  push:
    tags:        
      - '*'  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}   
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}  
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: docker build
      run: |
        docker build . -t ${{secrets.DOCKER_USER}}/${{github.event.repository.name}}:${{github.ref_name}}
    - name: docker push
      run: |
        docker push ${{secrets.DOCKER_USER}}/${{github.event.repository.name}}:${{github.ref_name}}
        docker push ${{secrets.DOCKER_USER}}/${{github.event.repository.name}}:latest